<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3 container">

		<div class="measure-narrow center mb4">


			<div class="developer-info tc">
				<p>Hey! you have reached the end</p>
				<p>Copyright ©  {{ now.Format "2006"}}. Made with ❤️ </p>
			</div>

		</div>
	</div>

</footer>

<script src="/app.js"></script>

<!-- Service worker register -->
<script>
    if("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
            navigator.serviceWorker.register("/sw.js").then(swReg => {}).catch(err => {
                console.error('Service Worker Error', err);
            });
        });
    }
</script>


</body>

</html>