<head>

	<title>Arindam Dawn | Sharing experiences</title>
	<link rel="stylesheet" href="/css/main.min.css" />

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	
	<link rel="canonical" href="https://arindamdawn.com/" />

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Arindam Dawn | Personal Blog | Sharing experiences">
	<meta property="og:url" content="https://codecusp.com">
	<meta property="og:image" content="/img/og-image.jpg">
	<meta property="og:image" content="https://codecusp.com/img/covers/default.png" />
	<meta property="og:description" content="Arindam Dawn | Personal blog | Sharing experiences" />
	
	

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	<!-- Google Analytics -->
	{{ template "_internal/google_analytics_async.html" . }}

</head>