<section class="home-intro pv4 bg-grey-1">
    <div class="container center">
        <div class="home-intro-grid">
            <div class="grid-item">
                <h1>{{.Title}}</h1>
                <p class="subtitle">{{.Params.subtitle}}</p>

                <p class="personal-intro">
                    {{.Params.home_intro.intro_text}}
                </p>
                <div class="action-buttons">
                    
                    <a class="btn bg-primary white pa2 fs-m" href="/post">{{.Params.home_intro.primary}}</a>
                    <a class="btn default pa2 fs-m" href="#">{{.Params.home_intro.secondary}}</a>
                </div>
            </div>
            <div class="grid-item image-section">
                <div class="personal-brand-image">
                    <img src="https://place-hold.it/400x400" alt="" srcset="">
                </div>
            </div>
        </div>

    </div>
</section>