<div class="bg-grey-1 pv4">
  <div class="center container">
    <h2 class="f2 b lh-title mb3 w-40-l">{{.heading}}</h2>
    <div class="about-grid">
      <div class="grid-item mv2 text1">
        <p>{{.text}}</p>
      </div>
      <div class="grid-item mv2 image1">
        <img src="img/web-development.svg" alt="developer image">
      </div>
      <div class="grid-item mv2 text2">
        <p>{{.step2}}</p>
      </div>
      <div class="grid-item mv2 image2">
        <img src="img/launch.svg" alt="developer image">
      </div>
      <div class="grid-item text3 mv2">
        <p>{{.step3}}</p>
      </div>
      <div class="grid-item image3 mv2">
        <img src="img/developer.svg" alt="developer image">
      </div>
    </div>
  </div>
</div>