html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/img/background-pattern.png);
    background-size: 70px;
}

::selection {
    background-color: var(--highlight);
}

/* Used in the navbar */
.divider-grey {
    box-shadow: inset 0 -4px 0 var(--grey-1);
}

/* Link hover states */
.didvider-grey a {
    transition: var(--hover-transition);
}

.divider-grey ul a:hover,
.didvider-grey ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
}

iframe {
    margin: 0 auto!important;
}

.cover-area {
    background-image: url("/img/background-pattern.png"), linear-gradient(141deg, var(--lightBlue) 0%, var(--lightPurple) 100%);
    background-size: 70px auto; 
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 98%);
    padding-bottom: 5%;
    @include phone {
        padding-bottom: 20%;
    }
}

footer {
    background-image: url("/img/wave.svg");
    background-size: cover;
}