.f1 {
    font-size: 3rem;
}

.f2 {
    font-size: 2.25rem;
}

.f3 {
    font-size: 1.5rem;
}

.f4 {
    font-size: 1.25rem;
    ;
}

.f5 {
    font-size: var(--spacing-medium);
}

.f6 {
    font-size: .875rem;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .f2 {
        font-size: 1.5rem;
    }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .f2 {
        font-size: 1.5rem;
    }
}