{{ define "main" }}


{{ partial "jumbotron" (dict "imageUrl" "/img/main-banner.svg" "title" .Title) }}

<div class="bg-grey-1">
    <div class="container center pv4">
        <ul class="pa3">
            <p>Click on any topic to view related articles.</p>

            {{ range .Pages }}
            <a href="{{.Permalink | relURL }}"><span
                    class="tag tag-{{anchorize .Title}} tag-lg">{{ anchorize .Title}}</span></a>
            {{ end }}
        </ul>
    </div>
</div>


{{ end }}